 #root,
 body {
   margin: 0 auto;
   text-align: center;
   background: linear-gradient(to right, #1e1e2f, #3a3a5f);
   color: white;
 }


 body,
 .navbar,
 .container-fluid {
   transition: background-color 0.3s ease, color 0.3s ease;
 }